* {
  margin: 0;
  padding: 0;
}
#hd {
  color: rgb(14, 5, 111);
  text-align: center;
  padding-right: 50%;
  font-family: "Poppins";
  font-size: 50px;
}

.card-rapper {
  max-width: 100%;
  padding: 20px;
  padding-left: 50%;
  display: grid;
  grid-template-columns: auto;

  align-items: center;
  grid-gap: 20px;
  justify-content: space-evenly;
  overflow: hidden;
  background-image: url("../assets/hero-bg.jpg");
}
@media (max-width: 969px) {
  section {
    padding: 20px 0px;
  }
  .App {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
